
@font-face {
    font-family: "GT Super Display Bold Italic";
    src: url("fonts/GT-Super-Display-Bold-Italic-Trial.otf");    
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: "GT Super Display Bold";
    src: url("fonts/GT-Super-Display-Bold-Trial.otf");    
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "GT Super Display Bold";
    src: url("fonts/GT-Super-Display-Light-Italic-Trial.otf");    
    font-style: italic;
    font-weight: light;
}
@font-face {
    font-family: "GT Super Display Bold";
    src: url("fonts/GT-Super-Display-Light-Trial.otf");    
    font-style: normal;
    font-weight: light;
}
@font-face {
    font-family: "GT Super Display Bold";
    src: url("fonts/GT-Super-Display-Medium-Italic-Trial.otf");    
    font-style: italic;
    font-weight: medium;
}
@font-face {
    font-family: "GT Super Display Bold";
    src: url("fonts/GT-Super-Display-Medium-Trial.otf");    
    font-style: normal;
    font-weight: medium;
}
@font-face {
    font-family: "GT Super Display Bold";
    src: url("fonts/GT-Super-Display-Regular-Italic-Trial.otf");    
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "GT Super Display Bold";
    src: url("fonts/GT-Super-Display-Regular-Trial.otf");    
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GT Super Display Bold";
    src: url("fonts/GT-Super-Display-Super-Italic-Trial.otf");    
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GT Super Display Bold";
    src: url("fonts/GT-Super-Display-Super-Trial.otf");    
    font-style: normal;
    font-weight: normal;
}
