@font-face {
    font-family: "TT Norms Pro";
    src: url("fonts/TT-Norms-Pro/TT-Norms-Pro-Light.woff") format("woff");
    src: url("fonts/TT-Norms-Pro/TT-Norms-Pro-Medium.woff") format("woff");
    src: url("fonts/TT-Norms-Pro/TT-Norms-Pro-Regular.woff") format("woff");
    src: url("fonts/TT-Norms-Pro/TT-Norms-Pro-Bold.woff") format("woff");
}


html{
    font-family:TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
}
#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px auto;
    max-width: 960px;
}
/* #layout{
    padding: 30px;
} */
a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}

header nav{
    /* border: 1px solid #000; */
    color: #1d1d1f;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-family: "TT Norms Pro" sans-serif;
    font-style: medium;
    font-weight: medium;
    margin: 12px auto;
    margin-left: 65px;
    position: relative;
    width: 85%;
}
.header-div1>a{
    display: flex;
    align-content: center;
    align-items: center;
    color: #1d1d1f;
    font-family: "TT Norms Pro" sans-serif;
    font-style: medium;
    font-size: 16px;
    font-weight: 500;
}
.header-div1>a:hover{
    cursor: pointer;
}
.header-div1 img{
    margin-right: 5px;
    width: 2.4em;
}
.header-div1 div{
    display: inline;
}
.header-div2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    width: 40%;
    font-size: 12px;
    font-weight: 500;
}
.header-div2>a{
    color: #1d1d1f;
}
.header-div2 button{
    background-color: #ffffff;
    border: 2px solid #ffaa00;
    border-radius: 30px;
    color: #ffaa00;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.header-div2 button:hover{
    background-color: #ffaa00;
    color: #ffffff;
    cursor: pointer;
}
.curve{
    height: 138px;
    width: 100%;
}
.curve>img{
    position: absolute;
    width: 99%;
    z-index: -1;
}
#curve1{
    top:0;
}
#curve2{
    top: 9px;
}
#curve3{
    top: 18px;
}
#curve4{
    top: 27px;
}
#curve5{
    top: 36px;
}
#curve6{
    top: 45px;
}
#curve7{
    top: 54px;
}
#curve8{
    top: 63px;
}
#curve9{
    top: 72px;
}
#curve10{
    top: 81px;
}
.section1{
    height: 1500px;
    margin-bottom: 100px;
    width: 100%;
}
.section1-div{
    color: #1d1d1f;
    height: 500px;
    margin: 10px auto;
    position: relative;
    text-align: center;
}
.section1-img{
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    width: 95%;
}
.section1-img img{
    width: 85%;
}
.section1-div>div{
    color: #1d1d1f;
}
.section1-div h1{
    font-family: GT Super Display Bold,TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    line-height: 10px;
    color: #1d1d1f;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 40px;
}
.section1-div>div>p{
    font-family:TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 54%;
}
.medium1{
    font-weight: 500;
}
.section1-button{
    margin: 50px auto;
    text-align: center;
}
.section1-button a{
    background-color: #ffaa00;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 24px;
    outline: none;
    width: 90px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.section1-button a:hover{
    cursor: pointer;
}
.section1-div>a>h2{
    color: #16a34a;
    font-family: GT Super Display Bold,TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 20px;
    font-weight: 100;
}
.section2-div{
    height: 700px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 85%;
}
.qt-slant{
    position: absolute;
    background-color: #feebc833;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    height: 1000px;
    width: 100%;
    left: 0;
    top: 1600px;
    z-index: -1;
}
.uc-slant{
    position: absolute;
    background-color: #feebc833;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    height: 1000px;
    width: 100%;
    left: 0;
    top: 2500px;
    z-index: -1;
}
.section2-div h1{
    font-family: GT Super Display Bold,TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 54px;
    line-height: 0.1em;
}

.section2-div>p{
    font-size: 20px;
    margin-bottom: 100px;
}
.section2>div{
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
}
.section2>div>h1{
    color: #1d1d1f;
}
.section2>div>p{
    color: #444444;
    font-size: 18px;
}
.section2-img-div{
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: -10px 10px 20px 5px rgba(202, 202, 202, 0.5);
    width: 55%;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.section2-img-div>img{
    border-radius: 6px;
    width: 98%;
    margin: auto;
    margin-top: 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.section2-btn-div{
    margin-top: 10px;
    width: 40%;
}
.section2-btn-div>hr{
    clear: both;
    border: 0;
    height: 0;
    border-top: 1px solid #ffaa0066;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 50px;
}
.prev-next-div{
    float: right;
    font-weight: 500;
    margin-bottom: 15px;
}
.prev-next-div>span{
    font-size: 12px;
}
.prev-next{
    background-color: #ffaa0066;
    color: #1d1d1f;
    border: none;
    border-radius: 16px;
    font-size: 11px;
    padding: 6px 10px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.faint{
    background-color: #ffaa0033
}
.prev-next-div a:hover{
    box-shadow: 0 3px 3px 0 rgba(202, 202, 202, 0.7);
}
.quick-tour-text>p,.quick-tour-text>h3{
    color: #444444;
}
.quick-tour-text>h3{
    color: #1d1d1f;
    font-family: GT Super Display Bold,TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    line-height: 0.1em;
    font-size: 30px;
}
.quick-tour-text>p{
    line-height: 1.5em;
    margin-bottom: 70px;
}
.section2-txt-div .button{
    margin-bottom: 40px;
}    
.section2-txt-div .button>a{
    background-color: #ffffff;
    border: 1px solid #ffaa00;
    color: #ffaa00;
    border-radius: 30px;
    padding: 10px 18px;
    font-weight: 500;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.small-balls{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 90px;
}
.small-ball{
    background-color: #ffaa0033;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.flatball{
    background-color: #ffaa00;
    border-radius: 10px;
    width: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.section3-div{
    margin: 0 auto;
    margin-top: 100px;
    width: 85%;
    color: #1d1d1f;
}
.section3-div1 h1{
    font-family: GT Super Display Bold,TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    line-height: 0.3em;
    font-size: 40px;
}
.section3-div2{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    height: 110px;
    width: 100%;
}
.usecases-anchor{
    width: 23%;
}
.section3-div2>a>div{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 0.5px solid #ffaa0044;
    border-radius: 4px;
    padding: 10px 10px;
    background-color: #ffffff;
    width: 100%;
    height: 110px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.section3-div2>div:hover{
    cursor: pointer;
}
.boxes{
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
    font-weight: 500;
}
.short{
    color: #777777;
    font-size: 11px;
    font-weight: 500;
}
.ion{
    display: block;
    box-sizing: border-box;
    background-color: #ffaa001a;
    color: #ffaa00;
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.soon{
    position: relative;
    left: 160px;
    color: #777777;
    font-size: 12px;
    font-weight: 400;
}
.section4-div{
    background-color: #ffffff;
    border-radius: 4px;
    display: flex;
    box-shadow:  0 20px 30px  rgba(202, 202, 202, 0.5);
    flex-direction: row;
    font-size: 14px;
    justify-content: space-around;
    padding: 40px;
    margin: 0 auto;
    margin-top: 40px;
    height: 700px;
    width: 85%;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.section4-div1{
    margin-top: 60px;
    padding-right: 10px;
    width: 47%;
}
.section4-div1-1{
    text-align: center;
}
.section4-div1-1>img{
    width: 40%;
}
.section4-div1-2>h4{
    color: #777777;
    font-size: 14px;
    line-height: 0.1em;
    margin: 5px;
}
.section4-div1-2>h3{
    color: #1d1d1f;
    font-size: 30px;
    margin: 5px;
}
.section4-div1-2{
    margin-top: 50px;
    text-align: center;
}
.section4-div1-2>p{
    color: #333333;
    font-size: 16px;
    line-height: 1.5em;
}
.section4-div-1{
    margin: auto;
}
.section4-div2{
    height: 90%;
    box-sizing: border-box;
    padding: 30px 0;
    width: 47%;
}
.steps{
    font-size: 30px;
    line-height: 0.1em;
    margin-bottom: 0;
}
.section4-div2-flex{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-evenly;
    height: 95%;
    margin: 10px auto;

}
.num-divs{
    display: flex;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 0;
}
.num{
    height: 20px;
    margin-right: 10px;
    margin-top: -40px;
}
.num>h1{
    color: #66666633;
    font-family: GT Super Display Bold;
    font-size: 72px;
    line-height: 0.2px;
    height: 20px;
}
.num-heading{
    color: #777777;
    font-size: 24px;
    line-height: 35px;
}
.num-text{
    line-height: 25px;
}
.num-text:nth-child(2){
    color: #1d1d1f;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-size: 16px;
}
.num-text>div>a{
    color: #22c55e;
    font-weight: 500;
}
.step{
    color: #66666680;
    font-size: 25px;
}
.section5-div{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 30px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 750px;
    width: 85%;
}
.section5-div>div{
    height: 95%;
    width: 50%;
}
.section5-div1>hr{
    border: none;
    border-bottom: 1px solid #d3d3d3;
    height:0;
    color:inherit;
    border-top-width:1px;
}
.section5-div1{
    color: #1d1d1f;
    padding: 0 40px;
}
.section5-div1>div>img{
    width: 70%;
    margin-bottom: 20px;
}
.section5-div1>p{
    line-height: 25px;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-top: 25px;
}
.section5-div1>p>a{
    color: #1d1d1f;
    font-weight: 600;
    text-decoration: underline;
}
.bandwagon{
    font-family: GT Super Display Bold;
    font-size: 3em;
    line-height: 0.8em;
    margin-bottom: 0;
    margin-top: 0;
}
.section5-div2{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    padding: 20px 40px;
}
.section5-div2 h3{
    font-family: GT Super Display Bold;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.section5-div2>div{
    display: flex;
    justify-content: space-between;
    background-color: #f9fafb;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-sizing: border-box;
    padding: 24px;
    height: 140px;
}
.learn-how{
    display: flex;
    height: 20px;
    color: #1d1d1f;
}
.learn-how>a{
    color: #3b82f6;
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.learn-how>a>span{
    font-size: 16px;
    font-weight: 500;
}
.play-circle-div>ion-icon{
    font-size: 20px;
}
.step{
    font-size: small;
}
.section5-div3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200%;
    margin: auto;
}
.section5-div3>div input, .section5-div3-6 textarea{
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 30px;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    height: 60px;
    width: 450px;
}
.section5-div3-6 textarea{
    resize: vertical;
}
.section5-div3>div input::placeholder, .section5-div3-6 textarea::placeholder{
    color: #99999988;
}
.section5-div3>div input:focus, .section5-div3-6 textarea:focus{
    background-color: #f9f9f9aa;
    outline: none;
}
.section5-div3-2{
    font-weight: 500;
}
.step-ion{
    display: flex;
    align-items: center;
}
.step-ion>ion-icon{
    font-size: 35px;
    font-weight: 100;
    color: rgba(168, 168, 168, 0.39);
}
#subdomain-input{
    width: 340px;
}
.section5-div3-8 input{
    background-color: #22c55e;
    color: #ffffff;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.section5-div3-8 input:hover,.section5-div3-9 input:hover{
    cursor: pointer;
}
.section5-div3-9 input{
    background-color: #000;
    color: #ffffff;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.section5-div3-7{
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 30px;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    padding: 16px 0 16px 20px;
    width: 450px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.section5-div3-7>select{
    border: none;
    background-color: #ffffff;
    color: #1d1d1f;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-size: 16px;
    width: 415px;
}
select option{
   width: 400px;
}

.section5-div3 hr{
    border: none;
    border-top:1px solid #e2e2e2;
    margin-top: 0;
    margin-bottom: 0;
    width: 300px;
}
.section6-div{
    background-image: url(imgs/splash.png);
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 70px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 300px;
    height: 420px;
    width: 900px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
    padding: 60px;
}
.text{
    color: #eaeaeae6;
}
.section6-div1-1,.section6-div1-2,.section6-div1-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}
.section6-div1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 400px;
}
.icon{
    border: 1px solid rgba(131, 131, 131, 0.39);
    background-color: #66666633;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
.icon ion-icon{
    color: rgba(211, 211, 211, 0.39);
    font-size: 30px;
}
.section6-div2{
    margin-bottom: 30px;
    width: 600px;
}
.section6-div2>h2{
    color: #ffaa00;
    font-family: GT Super Display Bold;
    font-size: 48px;
    margin-bottom: 0;
    text-align: center;
}
.section6-div2>p{
    color: #eaeaea;
    font-family: TT Norms Pro Light,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 20px;
    /* font-weight: 100; */
    margin-top: 0;
    text-align: center;
}
.section6-div3{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 380px;
}
.section6-btn{
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    /* width: 180px; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.section6-btn>div>ion-icon{
    font-size: 30px;
}
.sc6-btn-text{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.sc6-btn-text1{
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 12px;
    font-weight: 500;
    color: #1d1d1f;
    /* font-weight: 100; */
}
.sc6-btn-text2{
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 16px;
    color: #1d1d1f;
    font-weight: 500;
}

.pl-slant{
    position: absolute;
    background-color: #feebc833;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    height: 1000px;
    width: 100%;
    left: 0;
    top: 5150px;
    z-index: -1;
}
.section7-div1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 200px;
    width: 85%;
}
.section7-div1>div{
    width: 50%;
}

.section7-img-div{
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.section7-img-div img{
    width: 90%;
}
.section7-div1-3{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 370px;
}
.medium2{
    color: #1d1d1f;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}
.large{
    color: #777777;
    font-family: GT Super Display Bold;
    font-size: 48px;
    font-weight: 700;
}
.section7-div1-1{
    color: #1d1d1f;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 20px;
    line-height: 25px;
}

.section7-btn{
    background-color: #000;
    border: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    align-items: center;
    border-radius: 10px;
    align-items: center;
    padding: 12px 24px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sc7-btn-txt{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.sc7-btn-txt1{
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 12px;
    font-weight: 500;
}
.sc7-btn-txt2{
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 16px;
    font-weight: 500;
}
.sc7-btn-icon{
    font-size: 30px;
}
.section7-items{
    display: flex;
    align-items: center;
    width: 250px;
}
.section7-items>div{
    border: 1px solid #ffaa0033;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    align-items: center;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.section7-items ion-icon{
    color: #ffaa00;
    font-size: 25px;
}
.section7-div1-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
}
.section7-div1-1,.section7-div1-2>p{
    margin-bottom: 40px;
}
.section7-div1-2>p{
    color: #1d1d1f;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 16px;
    line-height: 25px;
}

.section8-div{
    display: flex;
    justify-content: space-around;
    color: #000;
    width: 85%;
    margin-top: 40px;
}
.section8-div1{
    width: 400px;
}
.section8-div1 h1,.section8-div1 p{
    text-align: center;
}
.colored-txt{
    color: #ffaa00;
}
.section8-div2{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow:  0 0 2ch 2ch rgba(202, 202, 202, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 400px;
    padding: 30px 40px;
    box-sizing: border-box;
}
.section8-div2-1 h3{
    color: #66666633;
    font-size: 25px;
    font-weight: 500;
}
.pricing-info-div{
    color: #1d1d1f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pricing-info>p{
    font-size: 10px;
}
.section8-div2-1 input{
    border: none;
    background-color: #e9e9e9;
    border-radius: 20px;
    padding: 12px 16px;
    width: 250px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.section8-div3{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 30px 0;
}
.section8-div3-1 label,.section8-div2-1 span{
    color: #777777;
}
.section8-div2-1 span{

}
.section8-div3>div>div{
    height: 30px;
    margin: 10px 0;
}
.section9-div{
    margin: 0 auto;
    margin-top: 70px;
    width: 500px;
}
.section9-div h1,.section9-div p,.section9-div div{
    text-align: center;
}
.section9-div div{
    margin-top: 100px;
}
.section9-div1 button{
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    border-radius: 30px;
    color: #000;
    padding: 14px 30px;
    text-align: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.section10-div{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    width: 85%;
}
.section10-div1{
    width: 40%;
}
.section10-div2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 330px;
    width: 50%;
}

.section10-div1>div{
    margin-top: 40px;
}
.section10-div1>div button{
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    border-radius: 30px;
    color: #000;
    padding: 14px 30px;
    text-align: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.section10-div2>div{
    background-color: #f8f8f8;
    border-radius: 6px;
    box-sizing: border-box;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: bold;
    padding: 20px 16px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.section10-icon{
    color: #ececec;
    font-size: 35px;
}
.section11-div{
    background-color: #ffaa00;
    border-radius: 40px;
    box-sizing: border-box;
    height: 300px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 40px 70px;
    width: 600px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.section11-div h1, .section11-div p{
    text-align: center;
}
.section11-div div{
    margin-top: 50px;
    text-align: center;
}
.section11-div h1{
    color: #ffffff;
}
.section11-div div button{
    border: none;
    background-color: #16a34a;
    border-radius: 30px;
    color: #ffffff;
    padding: 12px 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.footer-div-1{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
}
.footer-div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
.footer-div1 h4{
    margin-top: 0;
    margin-bottom: 0;
}
.footer-div1 div{
    text-align: center;
}
.footer-div-1s{
    box-sizing: border-box;
    width: 75%;
}
.footer-div-1s>hr{
    max-width: 98%;
    /* overflow: hidden; */
}
.footer-navs{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    width: 600px;
}
.footer-div2{
    display: flex;
    justify-content: space-between;
    font-size: small;
    width: 50%;
}
.footer-div2 h4{
    margin-bottom: 0;
}
.footer-div2-1, .footer-div2-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-div3{
    background-color: #16a34a;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    margin-top: 20px;
    width: 200px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.footer-div3>hr{
    color: #ffffff;
    width: 150px;
}
.footer-div3>a{
    color: #ffffff;
}
.footer-div-2{
    display: flex;
    justify-content: space-between;
    width: 180px;
    box-sizing: border-box;
}

.fixed-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.fixed-icons>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.whatsapp{
    background-color: #22c55e;
}
.chatbubbles{
    background-color: #000;
}
.fixed-icons>div>ion-icon{
    font-size: 20px;
    color: #ffffff;
}

#modal1,#modal2,#modal3{
    display: none;
    background-color: #000000bb;
    position: fixed;
    justify-content: center;
    align-content: center;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 3;
}
.modal-content{
    box-sizing: border-box;
    height: 100vh;
    width: 90%;
}
.video-header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 96%;
    margin-bottom: 10px;
}
.vid-htext{
    color: #ffffff;
    font-family: GT Super Display Bold, TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 30px;
}
.vid-close{
    color: #ffffff;
    font-family: TT Norms Pro Light,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 30px;
    font-weight: 100;
}
video{
    width: 100%;
    height: 100%;
}
.modal{
    display: flex;
    background-color: #00000077;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
}